/* GLOBAL */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: Mosvita;
    src: url(../font/Mosvita-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: Mosvita;
    src: url(../font/Mosvita-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: Mosvita;
    src: url(../font/Mosvita-SemiBold.otf);
    font-weight: 600;
}

@font-face {
    font-family: Mosvita;
    src: url(../font/Mosvita-Bold.otf);
    font-weight: 700;
}

body {
    font-family: Mosvita;
    font-weight: 400;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 15px;
}

.headingH2 {
    font-family: Mosvita;
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
}

.headingH2 em {
    background: linear-gradient(90deg, #F9ACB4 0%, #E91E32 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
}

.Heading__Site__Hldr {
    margin-bottom: 50px;
    max-width: 900px;
    text-wrap: balance;
    margin-left: auto;
    margin-right: auto;
}

.Heading__Site__Hldr p {
    margin-top: 20px;
    font-family: Mosvita;
    font-weight: 600;
    font-size: 20px;
    line-height: 110.00000000000001%;
    letter-spacing: -.3px;
    text-align: center;
}

.Heading__Site__Hldr * {
    color: #470A07;
    text-align: center;
}

/* GLOBAL */

/* FAQ SECTION CSS START */

.faqMain {
    margin: 120px 0;
}

.faqMainRow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
}

.accordion-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #F9ACB4;
}

.accordion-item-header {
    position: relative;
    transition: all 0.3s ease;
    padding: 26px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-item-header::after {
    content: "";
    background-image: url(../img/faq-open.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 15px;
    width: 15px;
    transition: all ease-in-out 0.3s;
    background-color: transparent;
    margin-right: 10px;
}

.accordion-item-header.active::after {
    content: "";
    background-image: url(../img/faq-open.svg);
    transform: rotate(90deg);
}

.accordion-item-header h5 {
    font-family: Mosvita;
    font-weight: 700;
    font-size: 20px;
    line-height: 110.00000000000001%;
    letter-spacing: -.3px;
    color: #470A07;
}

.acc-item-head {
    max-width: 96%;
    padding-right: 15px;
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.accordion-item-body-content {
    padding-top: 0px !important;
    padding: 26px 12px;
    padding-top: 0px !important;
}

.accordion-item-body-content *:first-child {
    padding-top: 0px !important;
}

.accordion-item-body-content :is(p, ul li, ol li) {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #470A07;
}

.accordion-item-body-content :is(ul, ol) {
    padding-left: 20px;
    padding-top: 10px;
}

.accordion-item-body-content :is(ul li) {
    list-style: disc;
}

.accordion-item-body-content :is(ol li) {
    list-style: decimal;
}

.accordion-item:has(.active) .accordion-item-body {
    max-height: max-content;
    transition: max-height 0.3s ease-in-out;
}

/* FAQ SECTION CSS END */

/* WHY CHOOS LUCKY FOUR */

.whyChooseLuckyFour {
    margin: 120px 0;
}

.whyChooseLuckyFour .Heading__Site__Hldr {
    max-width: 605px;
    margin-left: auto;
    margin-right: auto;
}

.luckyChooseCard {
    min-height: 469px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.luckyChooseCard::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px -147px 38.9px 14px rgba(0, 0, 0, 0.58) inset;
    z-index: 1;
}

.luckyChoseCartTopHeartIc {
    background: #FFFFFF1A;
    height: 35px;
    width: 35px;
    padding: 10px;
    border-radius: 100%;
    border: 1px solid #FFFFFF1A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.luckyChoseCartTopHeartIc img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.luckyChoseCardBtmHeading {
    padding: 13px 16px;
    background: #fff;
    border-radius: 12px;
}

.luckyChoseCardBtmHeading h3 {
    font-family: Mosvita;
    font-weight: 700;
    font-size: 20px;
    line-height: 110.00000000000001%;
    letter-spacing: -.3px;
    color: #470A07;
}

.luckyChooseCardBottom {
    border: 1px solid #FFFFFF1A;
    background: #FFFFFF1A;
    border-radius: 12px;
}

.luckyChoseCardBtmContent {
    padding: 16px 20px;
}

.luckyChoseCardBtmContent p {
    font-family: Mosvita;
    font-weight: 400;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0px;
    color: #fff;
    max-width: 230px;
}

.luckyChooseCardTop,
.luckyChooseCardBottom {
    position: relative;
    z-index: 2;
}

/* WHY CHOOS LUCKY FOUR */


/* CUSTOMER REVIEWS SECTION */

.customerReviews {
    margin: 120px 0;
}

.customerReviews .custoReviewBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.custoReviewBoxImage {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.custoReviewBoxImage::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #0000006E;
    z-index: 1;
}

.reviewcUScONTENHldr {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    padding: 30px;
}

.custoReviewBoxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: #F7F7F7;
    border-radius: 20px;
    gap: 20px;
}

.reviewcUScONTENHldr span {
    font-family: Mosvita;
    font-weight: 700;
    font-size: 36px;
    line-height: 110.00000000000001%;
    letter-spacing: -.3px;
    text-align: center;
    color: #fff;
}

.reviewcUSiMAGEhLDR {
    height: 353px;
    width: 100%;
}

.reviewcUSiMAGEhLDR img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cusRevCnt p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -.3px;
    text-align: center;
    color: #000;
}

.cusRevAuthNme {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.cusRevAuthNme img {
    min-width: 53px;
    height: 53px;
    width: 53px;
    object-fit: contain;
}

.cusRevAuthNme span {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -.3px;
    text-align: center;
    color: #000;
}

.rating_star {
    --star-size: 30px;
    --star-color: #ccc;
    --star-filled: #FF5062;
    --rating: 0;
    position: relative;
    display: inline-block;
    font-size: var(--star-size);
    line-height: 1;
}

.rating_star::before,
.rating_star::after {
    content: "★★★★★";
    display: block;
    pointer-events: none;
}

.rating_star::before {
    color: var(--star-color);
}

.rating_star::after {
    color: var(--star-filled);
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--rating) / 5 * 100%);
    overflow: hidden;
}

/* CUSTOMER REVIEWS SECTION */

/* GIFT FOR YOU */

.giftForYou {
    margin: 120px 0;
}

.giftForYouBgHldr {
    padding: 60px 40px 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.giftForYou .heading__topSecFrUGft {
    margin-bottom: 63px;
}

.giftForYou .heading__topSecFrUGft * {
    color: #fff;
    text-align: center;
}

.giftForYouRow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    min-height: 390px;
    max-width: 72%;
    margin-left: auto;
    margin-right: auto;
}

.giftFrubTopBlts,
.giftFruBtmButtles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.giftForYouBullets {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #F9ACB403;
    border: 1px solid #F9ACB403;
    box-shadow: 0px -1px 25.7px 0px #F9ACB46E inset;
}

.giftForYouBullets img {
    min-width: 20px;
    object-fit: contain;
}

.giftForYouBullets span {
    font-family: Mosvita;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #fff;
    text-wrap: balance;
    max-width: 164px;
}

.giftFruBtmButtles .giftForYouBullets:nth-child(1) {
    transform: translateY(-10px);
}

.giftFrubTopBlts .giftForYouBullets:nth-child(2) {
    transform: translateX(-40px);
}

.giftFruBtmButtles .giftForYouBullets:nth-child(1) {
    transform: translateY(-50px) translateX(20px);
}

/* GIFT FOR YOU */

/* PREMIUM QUALITY SECTION */

.premiumQualityMain {
    margin: 120px 0;
}

.premiumQualityMainBgHldr {
    padding: 0 70px 0;
    background: linear-gradient(-212deg, #290805 0%, #400708 66%, #5D0A0D 100%);
    border-radius: 30px;
    position: relative;
    min-height: 580px;
}

.premiumQualityMainRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}

.premiumQualityMainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 0;
}

.premiumQualityMainContent * {
    color: #fff;
}

.premiumQualityMainBullets ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.premiumQualityMainBullets ul li {
    padding: 13px 10px;
    background: #F9ACB403;
    box-shadow: 0px -1px 25.7px 0px #F9ACB46E inset;
    border-radius: 6px;
    font-family: Mosvita;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #F9ACB46E;
}

.premiumQualityMainBullets ul li::before {
    content: '';
    background-image: url(../img/heart-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 10px;
    width: 10px;
}

.premiumQualityMainImage {
    height: 100%;
    width: 100%;
    max-height: 610px;
    transform: translateY(-16px);
}

/* PREMIUM QUALITY SECTION */